@model AggiungiScarpaModel

@{
    ViewData["Title"] = "Aggiungi una Scarpa";
}

<h4 class="text-center mb-4">Aggiungi una Nuova Scarpa</h4>

<div class="container">
    <form method="post" asp-controller="Scarpa" asp-action="Crea">
        <div class="form-group">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" id="Nome" name="Nome" />
        </div>

        <div class="form-group">
            <label for="Prezzo">Prezzo</label>
            <input type="number" step="0.01" class="form-control" id="Prezzo" name="Prezzo" />
        </div>

        <div class="form-group">
            <label for="Descrizione">Descrizione</label>
            <textarea class="form-control" id="Descrizione" name="Descrizione"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Aggiungi</button>
        <a href="@Url.Action("Index", "Scarpa")" class="btn btn-secondary">Torna alla lista</a>
    </form>
</div>
