@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome to Scarpe&Co</h1>
   <p>Bnevenuto nel database che ti permetterà di gestire al meglio le tue scarpe</p>
</div>
